In [282]:
import pandas as pd

In [283]:
data=pd.read_csv(r"C:\Users\wwrao\Downloads\cleaned_file.csv")
data.head()

,Loan_ID,Gender,Married,Dependents,Education,Self_Employed,ApplicantIncome,CoapplicantIncome,LoanAmount,Loan_Amount_Term,Credit_History,Property_Area,Loan_Status
0,LP001003,Male,Yes,1,Graduate,No,4583,1508,128,360,1,Rural,N
1,LP001005,Male,Yes,0,Graduate,Yes,3000,0,66,360,1,Urban,Y
2,LP001006,Male,Yes,0,Not Graduate,No,2583,2358,120,360,1,Urban,Y
3,LP001008,Male,No,0,Graduate,No,6000,0,141,360,1,Urban,Y
4,LP001011,Male,Yes,2,Graduate,Yes,5417,4196,267,360,1,Urban,Y

In [284]:
dataset=data[["Gender","Married","Education","Self_Employed","Property_Area","Loan_Status"]]
dataset.head()

  Gender Married     Education Self_Employed Property_Area Loan_Status
0   Male     Yes      Graduate            No         Rural           N
1   Male     Yes      Graduate           Yes         Urban           Y
2   Male     Yes  Not Graduate            No         Urban           Y
3   Male      No      Graduate            No         Urban           Y
4   Male     Yes      Graduate           Yes         Urban           Y

In [285]:
from sklearn.model_selection import train_test_split
x_train,x_test,y_train,y_test=train_test_split(dataset.drop(columns=["Loan_Status"],axis=1),dataset["Loan_Status"],test_size=0.2)

In [286]:
from sklearn.compose import ColumnTransformer
from sklearn.preprocessing import OneHotEncoder
from sklearn.preprocessing import OrdinalEncoder
from sklearn.preprocessing import LabelEncoder

In [325]:
x_train

    Gender Married     Education Self_Employed Property_Area
0     Male     Yes      Graduate            No         Rural
21    Male     Yes      Graduate            No     Semiurban
9     Male      No      Graduate            No         Urban
23    Male     Yes      Graduate            No     Semiurban
7     Male     Yes      Graduate            No         Urban
19    Male     Yes      Graduate            No         Urban
8     Male     Yes      Graduate            No         Urban
10    Male     Yes      Graduate            No         Urban
14    Male      No      Graduate            No         Urban
13    Male     Yes      Graduate            No         Urban
25    Male     Yes      Graduate            No         Urban
31    Male      No      Graduate            No         Rural
26    Male      No      Graduate           Yes         Urban
20    Male     Yes      Graduate            No         Urban
33    Male     Yes      Graduate            No         Rural
2     Male     Yes  Not Graduate            No         Urban
28    Male     Yes      Graduate           Yes         Urban
16  Female      No      Graduate            No         Urban
5     Male     Yes  Not Graduate            No         Urban
24    Male     Yes      Graduate            No         Urban
15    Male      No      Graduate            No         Urban
27    Male     Yes      Graduate           Yes         Urban
6     Male     Yes      Graduate            No     Semiurban
18    Male     Yes      Graduate            No         Urban
32    Male     Yes      Graduate            No         Urban
17    Male     Yes  Not Graduate            No         Rural
12    Male     Yes      Graduate            No         Urban

In [326]:
x_test.shape

(7, 5)

In [329]:
y_train.shape,y_test.shape

((27,), (7,))

In [287]:


transform = ColumnTransformer(
    transformers=[
        ("sami1", OneHotEncoder(drop="first"), ["Gender"]),
        ("sami2", OneHotEncoder(drop="first"), ["Married"]),
        ("sami3", OneHotEncoder(drop="first"), ["Education"]),
        ("sami4", OneHotEncoder(drop="first"), ["Self_Employed"]),
        ("sami5",OrdinalEncoder(categories=[["Rural",'Semiurban',"Urban"]]),["Property_Area"])
        
        
    ],
    remainder="drop"
)

In [288]:
transform

ColumnTransformer(transformers=[('sami1', OneHotEncoder(drop='first'),
                                 ['Gender']),
                                ('sami2', OneHotEncoder(drop='first'),
                                 ['Married']),
                                ('sami3', OneHotEncoder(drop='first'),
                                 ['Education']),
                                ('sami4', OneHotEncoder(drop='first'),
                                 ['Self_Employed']),
                                ('sami5',
                                 OrdinalEncoder(categories=[['Rural',
                                                             'Semiurban',
                                                             'Urban']]),
                                 ['Property_Area'])])

In [289]:
x_train_scaled=transform.fit_transform(x_train)
x_test_scaled=transform.transform(x_test)

In [290]:
x_train_scaled

array([[1., 1., 0., 0., 0.],
       [1., 1., 0., 0., 1.],
       [1., 0., 0., 0., 2.],
       [1., 1., 0., 0., 1.],
       [1., 1., 0., 0., 2.],
       [1., 1., 0., 0., 2.],
       [1., 1., 0., 0., 2.],
       [1., 1., 0., 0., 2.],
       [1., 0., 0., 0., 2.],
       [1., 1., 0., 0., 2.],
       [1., 1., 0., 0., 2.],
       [1., 0., 0., 0., 0.],
       [1., 0., 0., 1., 2.],
       [1., 1., 0., 0., 2.],
       [1., 1., 0., 0., 0.],
       [1., 1., 1., 0., 2.],
       [1., 1., 0., 1., 2.],
       [0., 0., 0., 0., 2.],
       [1., 1., 1., 0., 2.],
       [1., 1., 0., 0., 2.],
       [1., 0., 0., 0., 2.],
       [1., 1., 0., 1., 2.],
       [1., 1., 0., 0., 1.],
       [1., 1., 0., 0., 2.],
       [1., 1., 0., 0., 2.],
       [1., 1., 1., 0., 0.],
       [1., 1., 0., 0., 2.]])

In [291]:
x_test_scaled

array([[1., 1., 0., 0., 2.],
       [1., 1., 0., 0., 1.],
       [1., 1., 0., 0., 2.],
       [1., 1., 0., 0., 2.],
       [1., 0., 0., 0., 2.],
       [1., 1., 0., 1., 2.],
       [1., 1., 0., 1., 2.]])

In [292]:
x_train["Gender"].value_counts()

Gender
Male      26
Female     1
Name: count, dtype: int64

In [293]:
df1=pd.DataFrame(x_train_scaled,columns=["Gender","Married","Education","Self_Employed","Property_Area"])

In [294]:
df2=pd.DataFrame(x_test_scaled,columns=["Gender","Married","Education","Self_Employed","Property_Area"])

In [319]:
df=pd.concat((df1,df2),axis=0,ignore_index=True)
df

    Gender  Married  Education  Self_Employed  Property_Area
0      1.0      1.0        0.0            0.0            0.0
1      1.0      1.0        0.0            0.0            1.0
2      1.0      0.0        0.0            0.0            2.0
3      1.0      1.0        0.0            0.0            1.0
4      1.0      1.0        0.0            0.0            2.0
5      1.0      1.0        0.0            0.0            2.0
6      1.0      1.0        0.0            0.0            2.0
7      1.0      1.0        0.0            0.0            2.0
8      1.0      0.0        0.0            0.0            2.0
9      1.0      1.0        0.0            0.0            2.0
10     1.0      1.0        0.0            0.0            2.0
11     1.0      0.0        0.0            0.0            0.0
12     1.0      0.0        0.0            1.0            2.0
13     1.0      1.0        0.0            0.0            2.0
14     1.0      1.0        0.0            0.0            0.0
15     1.0      1.0        1.0            0.0            2.0
16     1.0      1.0        0.0            1.0            2.0
17     0.0      0.0        0.0            0.0            2.0
18     1.0      1.0        1.0            0.0            2.0
19     1.0      1.0        0.0            0.0            2.0
20     1.0      0.0        0.0            0.0            2.0
21     1.0      1.0        0.0            1.0            2.0
22     1.0      1.0        0.0            0.0            1.0
23     1.0      1.0        0.0            0.0            2.0
24     1.0      1.0        0.0            0.0            2.0
25     1.0      1.0        1.0            0.0            0.0
26     1.0      1.0        0.0            0.0            2.0
27     1.0      1.0        0.0            0.0            2.0
28     1.0      1.0        0.0            0.0            1.0
29     1.0      1.0        0.0            0.0            2.0
30     1.0      1.0        0.0            0.0            2.0
31     1.0      0.0        0.0            0.0            2.0
32     1.0      1.0        0.0            1.0            2.0
33     1.0      1.0        0.0            1.0            2.0

**LAbel Encoder**

In [320]:
l=LabelEncoder()
l.fit(y_train)

LabelEncoder()

In [321]:

y_train_scaled=l.transform(y_train)
df3=pd.DataFrame(y_train_scaled,columns=["Loan_Status"])

In [322]:
y_test_scaled=l.transform(y_test)
df4=pd.DataFrame(y_test_scaled,columns=["Loan_Status"])

In [323]:
y_dataset=pd.concat([df3,df4],axis=0,ignore_index=True)
y_dataset

    Loan_Status
0             0
1             0
2             1
3             0
4             1
5             0
6             0
7             1
8             1
9             0
10            1
11            1
12            1
13            1
14            0
15            1
16            1
17            0
18            0
19            1
20            1
21            1
22            0
23            1
24            1
25            0
26            1
27            1
28            1
29            1
30            1
31            1
32            1
33            1

In [324]:
pd.concat([df,y_dataset],axis=1)

    Gender  Married  Education  Self_Employed  Property_Area  Loan_Status
0      1.0      1.0        0.0            0.0            0.0            0
1      1.0      1.0        0.0            0.0            1.0            0
2      1.0      0.0        0.0            0.0            2.0            1
3      1.0      1.0        0.0            0.0            1.0            0
4      1.0      1.0        0.0            0.0            2.0            1
5      1.0      1.0        0.0            0.0            2.0            0
6      1.0      1.0        0.0            0.0            2.0            0
7      1.0      1.0        0.0            0.0            2.0            1
8      1.0      0.0        0.0            0.0            2.0            1
9      1.0      1.0        0.0            0.0            2.0            0
10     1.0      1.0        0.0            0.0            2.0            1
11     1.0      0.0        0.0            0.0            0.0            1
12     1.0      0.0        0.0            1.0            2.0            1
13     1.0      1.0        0.0            0.0            2.0            1
14     1.0      1.0        0.0            0.0            0.0            0
15     1.0      1.0        1.0            0.0            2.0            1
16     1.0      1.0        0.0            1.0            2.0            1
17     0.0      0.0        0.0            0.0            2.0            0
18     1.0      1.0        1.0            0.0            2.0            0
19     1.0      1.0        0.0            0.0            2.0            1
20     1.0      0.0        0.0            0.0            2.0            1
21     1.0      1.0        0.0            1.0            2.0            1
22     1.0      1.0        0.0            0.0            1.0            0
23     1.0      1.0        0.0            0.0            2.0            1
24     1.0      1.0        0.0            0.0            2.0            1
25     1.0      1.0        1.0            0.0            0.0            0
26     1.0      1.0        0.0            0.0            2.0            1
27     1.0      1.0        0.0            0.0            2.0            1
28     1.0      1.0        0.0            0.0            1.0            1
29     1.0      1.0        0.0            0.0            2.0            1
30     1.0      1.0        0.0            0.0            2.0            1
31     1.0      0.0        0.0            0.0            2.0            1
32     1.0      1.0        0.0            1.0            2.0            1
33     1.0      1.0        0.0            1.0            2.0            1